<div class="container">
    <div class="row">
        
        
        <!--list of houses to select-->
        <select class="form-select" aria-label="Default select example" [(ngModel)]="select" (ngModelChange)="changeHouse()">
            <option selected *ngFor="let item of house">{{item}}</option>
        </select>

        <!--filters when searching for names-->
        <div class="row">
            <div class="input-group">
                <span class="input-group-text">Search For Name</span>
                <input type="text" class="form-control" id="filterPost" name="filterPost"  [(ngModel)]="filterPost" onfocus="this.value=''">
            </div>
        </div>

    <!--table with the option to sort alphabetically by name-->
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th class="sort-component" (click)="sortlist()" (ngModelChange)="changeHouse()">Name <i class="fas fa-sort"></i></th>
                <th>Ancestry</th>
                <th>Hair Colour</th>
                <th>Eye Colour</th>
                <th>Gender</th>
                <th>Specie</th>
                <th>Alive</th>
            </tr>
            </thead>
            <tbody *ngFor="let student of listStudents | filters:filterPost;let index=index;" >
                <tr>
                    <td>{{index+1}}</td>
                    <td><img width="50" src="{{student.image}}" alt="{{student.image}}"></td>
                    <td>{{student.name}}</td>
                    <td>{{student.ancestry}}</td>
                    <td>{{student.hairColour}}</td>
                    <td>{{student.eyeColour}}</td>
                    <td>{{student.gender}}</td>
                    <td>{{student.species}}</td>
                    <td>
                        <span *ngIf="student.alive">Yes</span>
                        <span *ngIf="!student.alive">No</span>
                    </td>
                </tr>
        
            </tbody>
        </table>
    </div>
</div>